.text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4611a4;
  font-style: italic;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

button {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid rgb(106 11 11);
  /* background-image: linear-gradient(to left, #31d35c , yellow); */
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 12px 0px;
  border-radius: 30px;
  padding: 16px 66px;
  /*  margin: 0 auto; */
  cursor: pointer;
  text-align: center;
}

div {
  color: #fff;
  background-color: #4a90e2;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;
  /* Vertical  Horizontal */
}

body {
  /*  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(221 134 134)); */
  background-image: linear-gradient(to left, #31d35c, yellow);
}
